*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #43457f;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
    margin: 0 auto;
    border: 5px solid #feda84;
    margin-top: 15px;
}

button {
    padding: 30px 20px;
    background-color: #685489;
    border: 2px solid #43457f;
    color: #ff9b83;
    font-size: 16px;
}

button:hover {
    background-color: #feda84;
    color: #976393;
}

.display {
    color: #ff9b83;
    font-size: 60px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 400px;
    height: 150px;
    align-items: flex-end;
    justify-content: flex-end;
    border-bottom: 2px solid #43457f;
    background-color: #685489;
}

.row-one, .row-two, .row-three,
.row-four, .row-five {
    flex: 1 1 auto;
    display: flex;
    width: 400px;
}

#ac,
#equals {
    width: 200px;
}

#del, #divide,
#one, #two, #three, #multiply,
#four, #five, #six, #add,
#seven, #eight, #nine, #subtract,
#decimal, #zero {
    width: 100px;
}

.active {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 1s;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}